@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.title {
    text-align: center;
    font-size: 31px;
    font-weight: 500;
}

header {
    padding-top: 31px;
    padding-bottom: 32px;
}

.header-main .container .header-class-actions .favorite-btn {
    background-color: white;
    border-width: 0;
}

.header-main .container .header-class-actions .buttons-section .shopping-btn {
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-width: 0;
}

.header-main .container .header-class-actions .buttons-section .enter-btn {
    color: black;
    text-decoration: none;
    position: absolute;
    border-width: 0;
    height: 40px;
    width: 115px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.header-main .container .header-class-actions .search-section .search input {
    width: 400px;
    border-radius: 100px;
    padding-left: 20px;
    text-align: left;
    height: 40px;
}

.header-main .container .header-class-actions .search-section form button {
    background-color: white;
    border-width: 0;
    position: absolute;
    padding-top: 12px;
    padding-left: 10px;
}

.header-main .container .header-class-actions .search {
    position: absolute;
    right: 215px;
}

.header-main .container .header-class-actions .search-section {
    position: absolute;
    right: 180px;
}

.header-main .container .header-class-actions .buttons-section {
    float: right;
    padding-right: 125px;
}

.header-main .container .title {
    padding-left: 80px;
    font-size: 28px;
    font-weight: 500;
}

form .search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form .search button {
    float: left;
    width: 20%;
    background-color: white;
    padding: 10px;
    color: white;
    border-width: 0;
    border-left: none; /* Prevent double borders */
}

/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}


.cart-overview {
    left: 200px;
    position: absolute;
}

.cart-overview .total-price {
    padding-top: 10px;
}

.cart-overview .proceed-to-payment {
    padding-top: 10px;
}

.cart-overview .proceed-to-payment form .checkout {
    width: 165px;
    height: 50px;
    border-width: 0;
    border-radius: 10px;
    padding-right: 10px;
}

.card-body table th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.card-body table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.card-body table {
    width: 60%;
}

.card-body thead {
    background-color: #333;
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.card-body tbody tr:nth-child(odd) {
    background-color: #fff;
}

.card-body tbody tr:nth-child(even) {
    background-color: #eee;
}

.card-body table {
    position: absolute;
    right: 100px;
}