@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header-main .container .title {
    padding-left: 80px;
    font-size: 28px;
    font-weight: 500;
}

.header-main .container .header-class-actions .enter-btn {
    color: black;
    text-decoration: none;
    position: absolute;
    border-width: 0;
    height: 40px;
    width: 115px;
    background-color: #D9D9D9;
    border-radius: 10px;
}