@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    line-height: 30px;
}

nav > ul li {
    width: 215px;
    position: relative;
    text-align: start;
}

nav > ul > li:hover > ul {
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

nav > ul > li > ul {
    border-width: 3px;
    border-color: black;
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    padding-left: 10px;
    left: 100%;
    display: none;
}

nav ul li a i {
    padding-left: 8px;
}

header {
    padding-top: 31px;
    padding-bottom: 32px;
}

.header-main .container .header-class-actions .favorite-btn {
    background-color: white;
    border-width: 0;
}

.header-main .container .header-class-actions .buttons-section .shopping-btn {
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-width: 0;
}

.header-main .container .header-class-actions .buttons-section .enter-btn {
    color: black;
    text-decoration: none;
    position: absolute;
    border-width: 0;
    height: 40px;
    width: 115px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.header-main .container .header-class-actions .search-section .search input {
    width: 400px;
    border-radius: 100px;
    padding-left: 20px;
    text-align: left;
    height: 40px;
}

.header-main .container .header-class-actions .search {
    position: absolute;
    right: 215px;
}

.header-main .container .title {
    padding-left: 80px;
    font-size: 28px;
    font-weight: 500;
}

.banner {
    width: 55%;
    height: 210px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.row .categories {
    padding-left: 210px;
    padding-right: 31px;
    padding-bottom: 10px;
    z-index: 10;
}

.card-body {
    min-height: 270px;
    min-width: 280px;
}

.best {
    padding-left: 205px;
    padding-right: 205px;
}

.best-products {
    padding-left: 220px;
    padding-bottom: 10px;
}

.see-all-best {
    position: absolute;
    right: 220px;
}

.see-all-sales {
    padding-top: 20px;
    position: absolute;
    right: 220px;
}

.sales {
    padding-left: 205px;
    padding-right: 205px;
}

.sales-products {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 220px;
}


.row .categories nav form select {
    width: 220px;
    border-width: 0;
}

.row .categories nav form select option {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.card-body table {
    position: absolute;
    right: 100px;
}

.chosen-category {
    padding-left: 200px;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}

.header-main .container .header-class-actions .search-section form button {
    background-color: white;
    border-width: 0;
    position: absolute;
    padding-top: 12px;
    padding-left: 10px;
}

.header-main .container .header-class-actions .buttons-section {
    float: right;
    padding-right: 125px;
}

.header-main .container .header-class-actions .search-section {
    position: absolute;
    right: 240px;
}

.price-range {
    padding-left: 200px;
    padding-top: 40px;
    position: absolute;
    padding-right: 20px;
}

.price-range form .filter {
    width: 165px;
    height: 50px;
    border-width: 0;
    border-radius: 10px;
}

.search-result {
    position: absolute;
    padding-left: 200px;
}

.card-body table th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.card-body table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.card-body table {
    width: 60%;
}

.card-body thead {
    background-color: #333;
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.card-body tbody tr:nth-child(odd) {
    background-color: #fff;
}

.card-body tbody tr:nth-child(even) {
    background-color: #eee;
}

.selected-category {
    position: absolute;
    left: 200px;
    padding-top: 30px;
}

.price-range {
    padding-top: 30px;
}

.price-range form .filter {
    margin-top: 10px;
    width: 165px;
    height: 50px;
    border-width: 0;
    border-radius: 10px;
}
